name: CI

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true

      - run: make lint-ci
      - run: make format-ci

  build:
    permissions:
      contents: write
    needs:
      - lint
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true

      - uses: actions/cache@v4
        with:
          path: |
            .swiftpm-packages
          key: v0-${{ runner.os }}-swiftpm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: v0-${{ runner.os }}-swiftpm-

      - run: make build

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        with:
          draft: true
          files: |
            ./build/Release/MCAPSpotlightImporter.mdimporter.zip
            ./build/Release/MCAPSpotlightImporter.mdimporter.dSYM.zip
